<div class="post-card d-flex" (click)="viewPost()">
    <div class="profile-picture" [style.backgroundImage]="profilePictureStyle" (click)="viewProfile($event)"> </div>

    <div class="content">
        <div class="top-row">
            <div class="author" (click)="viewProfile($event)">
                {{ post.authorName }}
            </div>
            <div class="date">
                {{ post.dateCreated | date: 'MMM d'}}
            </div>
        </div>
        <div class="text">
            {{ post.text }}
        </div>

        @if (displayType == 'profile') {
            <p-galleria
                [(activeIndex)]="mainGalleryActiveIndex"
                [value]="images"
                [numVisible]="images.length"
                [showThumbnails]="false"
                [showIndicators]="images.length > 1"
                (click)="$event.stopPropagation()"
            >
                <ng-template pTemplate="item" let-item>
                    <img
                        (click)="showTimelineFullScreenGallery($event, mainGalleryActiveIndex)"
                        [src]="item.itemImageSrc | secure | async"
                        class="profile-mode-image"
                    />
                </ng-template>
            </p-galleria>
        }
        @if (displayType == 'timeline' || displayType == 'dedicated') {
            @if (images[0]) {
                <div class="container">
                    <div class="row">
                        <div class="col image" (click)="showTimelineFullScreenGallery($event, 0)" 
                            [style.background-image]="'url(' + images[0].itemImageSrc + ')'">
                        </div>
                        
                        @if (images[1]) {
                            <div class="col image" (click)="showTimelineFullScreenGallery($event, 1)"
                                [style.background-image]="'url(' + images[1].itemImageSrc + ')'">
                            </div>
                        }
                        @if (images[2]) {
                            <div class="col image" (click)="showTimelineFullScreenGallery($event, 2)"
                                [style.background-image]="'url(' + images[2].itemImageSrc + ')'">
                            </div>
                        }
                    </div>
                </div>
            }
        }
        

        <div class="controls d-flex post" #overlayTarget>
            <i class="post-action-icon like pi"
                [class.greyed-out-like-button]="this.post.personId == this.user()!.userId"
                [class.pi-heart]="!liked"
                [class.pi-heart-fill]="liked"
                [class.red]="liked"
                (click)="likePost($event)">
            </i>

            <p class="counter" (click)="showUsersLiked($event); op.toggle($event, overlayTarget);"> {{ likeCount }} </p>
            
            <p-overlayPanel #op>
                @for (user of likeUsers; track $index) {
                    {{ user }} <br>
                }
                <p class="more-users-button" (click)="likeUsersNextPage($event)" [hidden]="!currentPage.hasNextPage"> Show
                    More... </p>
            </p-overlayPanel>

            <i class="post-action-icon reply pi pi-comment" (click)="toggleReplyForm($event)"></i>

            <p class="counter"> {{ replyCount }} </p>
        </div>
    </div>
</div>

<div class="reply-form-card" [hidden]="!showReplyForm">
    <form [formGroup]="replyForm" class="reply-form row" (ngSubmit)="onSubmit()">
        <form-field class="col-md-10">
            <textarea class="reply-body" pInputTextarea formControlName="text" aria-describedby="reply-help"
                [autoResize]="true" fluid="true" showError="Reply body"> </textarea>
            <small id="reply-help"> You can write up to 280 characters in your reply. </small>
        </form-field>
        <div class="col-md-2">
            <p-button styleClass="w-100" class="reply-submit" label="Post Reply" type="submit" icon="pi pi-comment"
                [disabled]="!replyForm.valid" />
        </div>
    </form>
</div>

@for (reply of post.replies; track reply.id)
{
    <reply-card [reply]=reply />
}

<p-galleria [value]="images"
    [(visible)]="fullScreen"
    [(activeIndex)]="mainGalleryActiveIndex"
    [numVisible]="images.length"
    [circular]="true"
    [fullScreen]="true"
    [showThumbnails]="false"
    [showItemNavigators]="images.length > 1"
>
    <ng-template pTemplate="item" let-item>
        <div class="gallery-item-container">
            <img class="gallery-item"
                [class.zoomed]="galleryImageZoomed"
                [style.transform-origin]="zoomOriginX + '% ' + zoomOriginY + '%'"
                [src]="item.itemImageSrc | secure | async"
                (click)="toggleGalleryImageZoom($event)" />
        </div>
    </ng-template>
</p-galleria>