.post-card {
    background-color: #F9FAFB;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 0px #00000026;
    cursor: pointer;
}

.post-card:hover {
    background-color: #ececec;
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-picture:hover {
    box-shadow: 0px 2px 3px 0px #00000078;
    transform: scale(1.03);
    transition: 0.2s;
}

.content {
    width: calc(100% - 5rem);
}

.top-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.author {
    font-weight: bold;
}
.author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.date {
    font-size: 0.75rem;
    font-weight: bold;
}

.text {
    word-break: break-word;
    margin-bottom: 0.75rem;
}

.controls {
    height: 1.5rem;
    margin-top: 0.75rem;
    align-items: end;
}


.post {
    position: relative;
}

.post-action-icon {
    font-size: 0.9rem;
    color: black;
}

.reply {
    margin-left: 0.75rem;
}

.reply:hover {
    font-size: 1rem;
    transition: 0.1s;
    cursor: pointer
}

.like:hover:not(.greyed-out-like-button) {
    font-size: 1rem;
    transition: 0.1s;
}

.counter {
    font-size: 0.9rem;
    margin: 0 0.2rem;
}

.red {
    color: red;
}

.more-users-button {
    font-size: 0.7rem;
    margin: 0.5rem 0 0 0;
    cursor: pointer;
}

.greyed-out-like-button {
    color: rgb(158, 151, 151);
    cursor: default;
}



// Reply form
.reply-form-card {
    margin: 0 2rem 1rem 5rem;
    background-color: #F9FAFB;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 0px #00000026;
}

.reply-body {
    min-height: 4rem;
}


// Images
.container {
    height: 35vh;

    .row {
        height: 100%;
    }
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 0.5rem;
    max-width: 33%;
}

.profile-mode-image {
    height: 30vh;
    max-width: 100%;
}

.image:hover, .profile-mode-image:hover {
    box-shadow: 0px 0px 3px 2px #00000078;
    transform: scale(1.03);
    transition: 0.2s;
}


// Fullscreen gallery
.gallery-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 85vh;
}

.gallery-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.gallery-item.zoomed {
    transform: scale(2.5);
    cursor: zoom-out;
}