@if(isLoggedIn()) {
    <input type="text" pInputText #inputText
      placeholder="Search People..."
      (input)="onSearchInput($event)"
      (focus)="op.show($event)"
      class="search-bar"/>

    <p-overlayPanel #op>
      <div class="flex flex-column search-overlay">
        @for (person of searchedPeople; track $index) {
          <person-search-result-card
            (click)="this.resultCardClicked(searchedPeople[$index].id)"
            [person]="searchedPeople[$index]" />
        }
        
        @if (currentPage.items.length == 0) {
          <p class="no-results"> No results </p>
        }
        @else if (currentPage.hasNextPage) {
          <p class="show-more-people-button" (mousedown)="searchNextPage($event, inputText.value)"> Show More... </p>
        }

      </div>
    </p-overlayPanel>
  }
