<div class="half-page">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
        <form-field class="col-md-12">
            <input pInputText type="email" formControlName="email" placeholder="Email" showError />
        </form-field>

        <form-field class="col-md-12">
            <p-password type="password" formControlName="password" placeholder="Password" [toggleMask]="true"
                [feedback]="false" showError />
        </form-field>

        <div class="col-md-12">
            <button type="submit" pButton [disabled]="!form.valid">Submit</button>
        </div>

        <div class="card flex justify-content-center">
            <p-toast />
        </div>
    </form>
</div>