.flex-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
}
.flex-container:hover {
    background-color: #ececec;
    border-radius: 0.5rem;
    transition: 0.2s;

    .search-name {
        text-decoration: underline;
    }
    .profile-picture {
        box-shadow: 0px 2px 3px 0px #00000078;
        transform: scale(1.03);
        transition: 0.2s;
    }
}

.profile-picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-name {
    font-weight: bold;
    color: black;
}