<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <p-chip styleClass="pointer" label="TechDeck" routerLink="/home"> </p-chip>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    @if (item.isLoggedIn === undefined || (item.isLoggedIn === isLoggedIn())) {
      <a [routerLink]="item.route" class="p-ripple p-element p-menuitem-link"
        [style.marginLeft]="item.rightAlign ? 'auto' : 0">
        <span class="p-menuitem-icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    }
  </ng-template>

  <ng-template pTemplate="end">
    @if (isLoggedIn()) {
      <div class="d-flex align-items-center gap-2">
        <div>
          {{ user()!.name }}
        </div>
        <p-button (onClick)="accountMenu.toggle($event)" icon="pi pi-user" />
      </div>
    }
  </ng-template>
</p-menubar>

<p-menu #accountMenu [model]="accountItems" [popup]="true" />

<router-outlet />