<p-menubar [model]="items">
  <ng-template pTemplate="start" style="min-width: 100%;">
    <p-chip styleClass="pointer" label="TechDeck" routerLink="/home"> </p-chip>

    <div class="search-bar-container">
      <person-search-bar />
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    @if (item.isLoggedIn === undefined || (item.isLoggedIn === isLoggedIn())) {
      <a [routerLink]="item.route" class="p-ripple p-element p-menuitem-link"
        [style.marginLeft]="item.rightAlign ? 'auto' : 0">
        <span class="p-menuitem-icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    }
  </ng-template>

  <ng-template pTemplate="end">
    @if (isLoggedIn()) {
      <div class="d-flex align-items-center gap-2">
        <div>
          {{ user()!.name }}
        </div>
        <p-button (onClick)="accountMenu.toggle($event)" icon="pi pi-user" />
      </div>
    }
  </ng-template>
</p-menubar>

<p-menu #accountMenu [model]="accountItems" [popup]="true" />

<div class="container-fluid p-0">
  <div class="row g-0">
    <div [class.col-md-8]="showMessagesArea" [class.col-md-12]="!showMessagesArea">
      <router-outlet />
    </div>

    @if (showMessagesArea && isLoggedIn()) {
      <div class="col-md-4">
        <messages-area />
      </div>
    }
  </div>
</div>