@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '_variables.scss';

body {
    margin: 0;
}

.half-page {
    max-width: 30rem;
    padding-top: 1rem;
    margin: auto;
}
.page {
    padding: 1rem;
}

.unread-messages-counter {
    background-color: $buttons;
    color: white;
    border-radius: 0.675rem;
    padding: 0.25rem;
    height: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

p-menubarsub {
    flex: auto;
}

.row {

    .p-inputtext,
    .p-inputwrapper {
        width: 100%;
    }
}

.p-message {
    margin: 0.5rem 0;
}

.p-message .p-message-wrapper {
    padding: 0.5rem 0.75rem;
}

.p-message-icon {
    display: none;
}

.p-message-detail {
    margin-left: 0;
}