<div class="messages-area">
    @if (this.showSearchBar) {
        <div class="person-search-area">
            <div class="person-search-bar-container">
                <person-search-bar />
            </div>

            <p-button icon="pi pi-times" (click)="this.showSearchBar = false" />
        </div>
    }
    @else {
        <button class="new-conversation-button"
            label="New Conversation"
            (click)="this.showSearchBar = true"
            icon="pi pi-plus"
            [rounded]="true"
            pButton>
        </button>
    }

    @for (conversation of conversations; track $index) {
        <conversation-card [conversation]="conversation" />
    }

    @if (currentPage.hasNextPage) {
        <p> Show Older Conversations...</p>
    }
</div>