<div class="d-flex page w-100">
    <div class="left-column">
        @if (isLoggedIn()) {
            <p-button styleClass="w-75" label="New Post" icon="pi pi-pencil" (click)="showNewPostForm()" />
        }
    </div>

    <div class="main-column">
        @if (showForm) {
            <form class="post-form row g-3" [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
                <form-field class="col-md-10">
                    <textarea class="post-text" pInputTextarea formControlName="text" [autoResize]="true"
                        showError="Post body"></textarea>
                </form-field>
                <div class="col-md-2">
                    <p-button class="post-button" label="Post" type="submit" icon="pi pi-comment"
                        [disabled]="!newPostForm.valid" />
                </div>
            </form>
        }

        <timeline/>

        <div>
            <p-toast />
        </div>
    </div>
</div>