.left-column {
    width: 15%;
    text-align: center;
}
.main-column {
    width: 85%;
}

.post-form {
    display: flex;
    margin-bottom: 1rem;
    text-align: center;
}
.post-text {
    width: 125%;
}
.post-button {
    text-align: center;
    margin: auto;
}
.attach-file {
    float: right;
    font-size: 0.8rem;
}
.file-input {
    display: none;
}