.reply-card {
    background-color: #F9FAFB;
    margin: 0 2rem 1rem 5rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 0px #00000026;
}

.profile-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: calc(100% - 3rem);
}

.top-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.author {
    font-weight: bold;
}
.date {
    font-size: 0.75rem;
    font-weight: bold;
}
.text {
    word-break: break-word;
}

.controls {
    height: 1.5rem;
    align-items: end;
}


.post {
    position: relative;
}
.post-action-icon {
    font-size: 0.9rem;
    color: black;
}
.text {
    overflow-wrap: break-word;
}