@if(isLoggedIn()) {
    <div class="d-flex page w-100">
        <div class="header-container">
            <div class="banner" [style.backgroundImage]="bannerStyle">
                @if (isMyProfile) {
                    <div class="banner-overlay overlay" (click)="bannerFileInput.click()">
                        <i class="pi pi-upload"></i>
                        <input type="file" #bannerFileInput (change)="bannerInput($event)" />
                    </div>
                }
            </div>
            <div class="info">
                <div class="profile-picture" [style.backgroundImage]="profilePictureStyle">
                    @if (isMyProfile) {
                        <div class="profile-picture-overlay overlay" (click)="profilePictureFileInput.click()">
                            <i class="pi pi-upload"></i>
                            <input type="file" #profilePictureFileInput (change)="profilePictureInput($event)" />
                        </div>
                    }
                </div>
                
                @if (isMyProfile) {
                    <input class="name editable"
                        [(value)]="nameInput"
                        (blur)="onNameBlur($event)">
                }
                @else {
                    <p class="name">
                        {{ nameInput }}
                    </p>
                }
            </div>
        </div>

        <div class="break"> </div>

        <div class="timeline-container">
            <timeline [isProfile]=true [userId]="personId" />
        </div>
    </div>

    <div class="card flex justify-content-center">
        <p-toast />
    </div>
}